<div class="wrapper-grey padded">

  <div class="container">
    <div class="row text-center">
      <h2>Your next trip</h2>
      <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url('images/card-paris.jpg')">
        <div class="card-category">
          Paris</div>
        <div class="card-description">
          <h2>Seb's Home</h2>
          <p>Charming room with patio</p>
        </div>
        <img src="images/seb.jpg" alt="" class="avatar-large">
      </div></div>

      <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url('images/card-brussels.jpeg')">
        <div class="card-category">
          Brussels</div>
        <div class="card-description">
          <h2>Anne's home</h2>
          <p>Lovely house</p>
        </div>
        <img src="images/anne.jpg" alt="" class="avatar-large">
      </div></div>

      <div class="col-xs-12 col-sm-4">
      <div class="card" style="background-image: linear-gradient(-225deg, rgba(0,0,0,0.2) 0%, rgba(0,0,0,0.3) 50%), url('images/card-london.jpeg')">
        <div class="card-category">
          London</div>
        <div class="card-description">
          <h2>Romain's Home</h2>
          <p>Nice flat in Piccadilly</p>
        </div>
        <img src="images/romain.jpeg" alt="" class="avatar-large">
      </div></div>
    </div>
  </div>
</div>
