<div class="text-center padded">
  <h2>Get news from us</h2>
  <p>Leave us your mail and get news from us.</p>
  <div class="form-inline">
    <div class="form-group">
      <input type="email" class="form-control" id="exampleInputEmail2" placeholder="jane.doe@example.com">
    </div>
    <button type="submit" class="btn btn-primary">Subscribe</button>
  </div>
</div>
